.multiple-ad-container {
	background-color: #d9eee1;
	height: 730px;
	padding-top: 85px;
}

.multiple-ad-top {
	display: flex;
	width: 69%;
	height: 255px;
	margin: auto;
}

.multiple-ad-bottom {
	display: flex;
	width: 69%;
	height: 255px;
	margin: 50px auto;
}

.multiple-course-container-1 {
	background-color: #ffc0c7;
	height: 100%;
	width: 46%;
	text-align: center;
	border-radius: 7px;
}

.multiple-course-container-2 {
	background-color: #96d4d4;
	height: 100%;
	width: 46%;
	text-align: center;
	border-radius: 7px;
	margin-left: 105px;
}

.multiple-course-container-3 {
	background-color: #96d4d4;
	height: 100%;
	width: 46%;
	text-align: center;
	border-radius: 7px;
}

.multiple-course-container-4 {
	background-color: #ffc0c7;
	height: 100%;
	width: 46%;
	text-align: center;
	border-radius: 7px;
	margin-left: 105px;
}

.multiple-course-heading {
	font-size: 45px;
	font-weight: 700;
	color: #000000;
	line-height: 68px;
	margin-top: 35px;
}

.multiple-course-desc {
	font-size: 18px;
	font-weight: 500;
	color: #000000;
	line-height: 27px;
	margin-top: 5px;
}
